# Exclude Build Files
**/out/*
**/build/*
**/.gradle/*
**/gradle/*
**/libs/*
*.class

# Exclude IDEA files
**/.idea/*
*.iml

# Exclude Vert.x Temps
**/.vertx/*

# Exclude Configs
/src/main/webapp/WEB-INF/*.json
/src/main/resources/com/developersam/util/*.json

# Exclude node_modules
/src/main/frontend/node_modules

# Exclude Compiled Static Web App
/src/main/resources/public/*

# Exclude System Files
.DS_Store
