# Exclude Build Files
**/out/*
**/build/*
**/.gradle/*
**/libs/*
**/dist/*
*.class

# Exclude IDEA files
**/.idea/*
*.iml

# Exclude node_modules
frontend/node_modules

# Exclude System Files
.DS_Store
