<!--suppress HtmlUnknownAttribute -->
<div class="mat-card-wrapper">
  <mat-card>
    <mat-card-title>Scheduler</mat-card-title>
    <img src="../../assets/app-icons/scheduler.png" alt="X-SAM" mat-card-image/>
    <mat-card-content>A web app to organize your schedules.</mat-card-content>
    <mat-card-actions>
      <a mat-button color="accent" routerLink="/scheduler">Visit</a>
    </mat-card-actions>
  </mat-card>
</div>
<div class="mat-card-wrapper">
  <mat-card>
    <mat-card-title>Chunk Reader</mat-card-title>
    <img src="../../assets/app-icons/chunk-reader.png" alt="X-SAM" mat-card-image/>
    <mat-card-content>A service to extract key information and summary from
      given text.
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="accent" routerLink="/chunk_reader">Visit</a>
    </mat-card-actions>
  </mat-card>
</div>
<div class="mat-card-wrapper">
  <mat-card>
    <mat-card-title>Other Projects</mat-card-title>
    <mat-card-content>TEN: A complex board game with simple rules, powered by an
      MCTS AI.
    </mat-card-content>
    <mat-card-content>SAM: An online platform for homework assignment.
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="accent" routerLink="/playground/ten">TEN</a>
      <a mat-button color="accent" href="https://github.com/SamChou19815/SAM" target=_blank>
        SAM (GitHub)
      </a>
    </mat-card-actions>
  </mat-card>
</div>
<div class="mat-card-wrapper">
  <mat-card>
    <mat-card-title>Student</mat-card-title>
    <mat-card-content>Major in computer science at Cornell University.
    </mat-card-content>
    <mat-card-content>GPA: 4.15/4.3</mat-card-content>
  </mat-card>
</div>
<div class="mat-card-wrapper">
  <mat-card>
    <mat-card-title>Researcher</mat-card-title>
    <mat-card-content>Researched in machine learning and artificial
      intelligence.
    </mat-card-content>
    <mat-card-content>Published paper about the application of neural
      networks.
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="accent" href="../../assets/papers/EvolutionandAssimilation.pdf"
         target=_blank>
        Latest Paper
      </a>
    </mat-card-actions>
  </mat-card>
</div>
<div class="mat-card-wrapper">
  <mat-card>
    <mat-card-title>Know more about Sam</mat-card-title>
    <mat-card-content>Check my Resume below.</mat-card-content>
    <mat-card-actions>
      <a mat-button color="accent" href="../../assets/docs/Resume.pdf"
         target=_blank>My Resume</a>
    </mat-card-actions>
  </mat-card>
</div>
