@import '~@angular/material/theming';

$near-black: mat-color(mat-palette($mat-blue-gray, 900));
$blue-gray: mat-color(mat-palette($mat-blue-gray, 500));

:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

mat-toolbar {
  top: 0;
  z-index: 2;
  position: sticky;
  color: #f7f7f7;
  font-weight: 300;
  justify-content: center;
}

#about-me-toolbar {
  background-color: $near-black;
}

app-home-about-me-section {
  background-color: $near-black;
}

#project-toolbar {
  background: $blue-gray;
}

#project-section {
  background-color: $blue-gray;
}

@media (min-width: 600px) {
  #project-section {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
  }
}

#timeline-toolbar {
  background: $blue-gray;
}

#timeline-section {
  background-color: $blue-gray;
}
