@media (min-width: 1300px) {
  :host {
    display: block;
    column-count: 3;
    column-gap: 0;
    column-fill: initial;
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  :host {
    display: block;
    column-count: 2;
    column-gap: 0;
    column-fill: initial;
  }
}

div.mat-card-wrapper {
  display: flex;
  break-inside: avoid;
  flex-direction: row;
  justify-content: center;
}

/*  Mobile */
@media (max-width: 600px) {
  mat-card {
    width: 90%;
    margin: 1em auto;
  }
  mat-card-title {
    width: calc(100% + 16px);
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
  }
}

/*  Tablet */
@media (max-width: 900px) and (min-width: 600px) {
  mat-card {
    width: 80%;
    margin: 1em auto;
  }
}

/*  Desktop */
@media (min-width: 900px) {
  mat-card {
    margin: 1em;
    width: 350px;
  }
}
