mat-list {
  background-color: white;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item.item-read {
  opacity: 0.3;
}

.back-button {
  cursor: pointer;
  margin-right: 0.5em;
}

.article-title {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-box {
  background-color: white;
  padding: 1em;
}
