<mat-sidenav-container [autosize]="false">
  <mat-sidenav mode="over" #drawer>
    <nav class="nav-toolbar">
      <span class="title-nav">Developer Sam</span>
      <a class="nav-item"
         routerLink="/"
         [class.selected]="homeSelected"
         (click)="select(NavElementName.Home)">Home</a>
      <a class="nav-item" [class.selected]="schedulerSelected"
         routerLink="/scheduler"
         (click)="select(NavElementName.Scheduler)">Scheduler</a>
      <a class="nav-item" [class.selected]="chunkReaderSelected"
         routerLink="/chunkreader"
         (click)="select(NavElementName.ChunkReader)">Chunk Reader (Beta V2)</a>
      <a class="nav-item" [class.selected]="tenSelected"
         routerLink="/ten"
         (click)="select(NavElementName.TEN)">TEN</a>
      <a href="https://blog.developersam.com/" target="_blank" class="nav-item">Blog</a>
      <a href="https://github.com/SamChou19815/Developer-Sam-Website" target="_blank" class="nav-item">Open Source</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z2">
      <mat-icon class="hamburger-icon" (click)="drawer.toggle()">menu</mat-icon>
      <span class="title">{{title}}</span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
