<h2 mat-dialog-title>Update my public information</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput
           [(ngModel)]="publicUserData.githubAccount"
           #descriptionInput="ngModel"
           placeholder="Update my GitHub Account name"
           type="text">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button color="primary" mat-button [mat-dialog-close]="null">Cancel</button>
  <button color="primary" mat-button [mat-dialog-close]="publicUserData">
    Submit
  </button>
</mat-dialog-actions>
