<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

    <servlet>
        <servlet-name>Projects</servlet-name>
        <jsp-file>/projects.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Projects</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Store</servlet-name>
        <jsp-file>/store.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Store</servlet-name>
        <url-pattern>/store</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Blog Admin</servlet-name>
        <jsp-file>/apps/admin/blog/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Blog Admin</servlet-name>
        <url-pattern>/apps/admin/blog/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Apps - Shield</servlet-name>
        <jsp-file>/apps/shield/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apps - Shield</servlet-name>
        <url-pattern>/apps/shield/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Apps - TEN</servlet-name>
        <jsp-file>/apps/ten/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apps - TEN</servlet-name>
        <url-pattern>/apps/ten/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Apps - Bots Civ</servlet-name>
        <jsp-file>/apps/botsciv/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apps - Bots Civ</servlet-name>
        <url-pattern>/apps/botsciv/</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted urls</web-resource-name>
            <url-pattern>/resource/store/protected/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted urls</web-resource-name>
            <url-pattern>/apps/scheduler/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>restricted urls</web-resource-name>
            <url-pattern>/apps/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Google User Only Apps</web-resource-name>
            <url-pattern>/apps/ten/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Google User Only Apps</web-resource-name>
            <url-pattern>/apps/botsciv/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
