<app-closable-controller [title]="articleDetail.title" (closeClicked)="popController()">
  <mat-card>
    <mat-card-title>Text Type: {{articleDetail.textType}}</mat-card-title>
  </mat-card>
  <mat-card *ngIf="articleDetail.categories.length > 0">
    <mat-card-title>Categories</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let category of articleDetail.categories">{{category}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Knowledge Graph</mat-card-title>
    <mat-card-content>
      Keywords:
      <ul>
        <li *ngFor="let keyword of articleDetail.keywords">{{keyword}}</li>
      </ul>
    </mat-card-content>
    <mat-card-content *ngIf="articleDetail.knowledgeMap.PERSON">
      People Mentioned:
      <ul>
        <li *ngFor="let person of articleDetail.knowledgeMap.PERSON">{{person.name}}</li>
      </ul>
    </mat-card-content>
    <mat-card-content *ngIf="articleDetail.knowledgeMap.LOCATION">
      Locations Mentioned:
      <ul>
        <li *ngFor="let location of articleDetail.knowledgeMap.LOCATION">{{location.name}}</li>
      </ul>
    </mat-card-content>
    <mat-card-content *ngIf="articleDetail.knowledgeMap.ORGANIZATION">
      Organizations Mentioned:
      <ul>
        <li *ngFor="let org of articleDetail.knowledgeMap.ORGANIZATION">{{org.name}}</li>
      </ul>
    </mat-card-content>
    <mat-card-content *ngIf="articleDetail.knowledgeMap.EVENT">
      Events Mentioned:
      <ul>
        <li *ngFor="let event of articleDetail.knowledgeMap.EVENT">{{event.name}}</li>
      </ul>
    </mat-card-content>
    <mat-card-content *ngIf="articleDetail.knowledgeMap.WORK_OF_ART">
      Work of Art Mentioned:
      <ul>
        <li *ngFor="let workOfArt of articleDetail.knowledgeMap.WORK_OF_ART">{{workOfArt.name}}</li>
      </ul>
    </mat-card-content>
    <mat-card-content *ngIf="articleDetail.knowledgeMap.CONSUMER_GOOD">
      Consumer Goods Mentioned:
      <ul>
        <li *ngFor="let consumerGood of articleDetail.knowledgeMap.CONSUMER_GOOD">{{consumerGood.name}}</li>
      </ul>
    </mat-card-content>
    <mat-card-content *ngIf="articleDetail.knowledgeMap.UNKNOWN">
      Others:
      <ul>
        <li *ngFor="let other of articleDetail.knowledgeMap.UNKNOWN">{{other.name}}</li>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Summary</mat-card-title>
    <mat-card-content>
      <div class="sentence" *ngFor="let sentence of articleDetail.summaries">{{sentence}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" [disabled]="articleDetail.summaries.length <= 1" mat-button (click)="less()">Less</button>
      <button color="primary" mat-button (click)="more()">More</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Original Content</mat-card-title>
    <mat-card-content class="multi-line">{{articleDetail.content}}</mat-card-content>
  </mat-card>
</app-closable-controller>
