<mat-toolbar color="primary">
  <mat-icon class="hamburger-icon" (click)="drawer.toggle()">menu</mat-icon>
  <span class="title-content">{{title}}</span>
  <span style="flex: 1 1 auto;"></span>
  <!--suppress HtmlUnknownAttribute -->
  <a mat-button *ngIf="!isHome" (click)="backToHome()">Home Page</a>
</mat-toolbar>
<mat-sidenav-container [autosize]="false">
  <mat-sidenav mode="over" #drawer>
    <nav class="nav-toolbar">
      <app-nav-group *ngFor="let group of navDataList.list"
                     [group]="group"
                     (navClicked)="clickNav()"></app-nav-group>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
