/* You can add global styles to this file, and also import other style files */
html {
  background-color: #DDDDDD;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-item {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 14px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 400;
  padding: 16px 40px;
  color: #757575;
  cursor: pointer;
}

.nav-item-text {
  display: inline-block;
  height: 24px;
  font-weight: 400;
  font-style: normal;
  margin-left: 1em;
  line-height: 24px;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.nav-item.as-child {
  padding: 16px 40px 16px 60px;
}

.nav-item.selected {
  background-color: #e0ecff;
}

.nav-item:hover {
  border: none;
}

.multi-line {
  white-space: pre-line;
}

/* Styling cards on different device widths. */

/*  Mobile */
@media (max-width: 600px) {
  mat-card {
    width: 90%;
    margin: 0.5em auto;
  }
}

/*  Tablet */
@media (max-width: 900px) and (min-width: 600px) {
  mat-card {
    width: 80%;
    margin: 1em auto;
  }
}

/*  Desktop */
@media (min-width: 900px) {
  mat-card {
    margin: 1em auto;
    width: 600px;
  }
}

.mat-fab {
  position: fixed !important;
  right: 1em;
  bottom: 1em;
  z-index: 2;
}
